@model IEnumerable<Budget.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}




<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Type == TransactionTypes.Purchase)
                    {
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (item.Type == TransactionTypes.Purchase)
                    {
                        @: -@Html.DisplayFor(modelItem => item.Amount)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Amount)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndingBalance)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
